* {
    font-family: 'Roboto', sans-serif; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div {
    
    background-color:#1CD1B0;
    color: black;
    font-size: 15px;
    line-height: 58px;
    padding-left: 15px; 
}

nav {
    background-color:#00669F;
    font-size: 40px;
}

h1 {
    padding-left: 15px; 
    padding-top: 28px;
    padding-bottom: 28px;
    width: 1024px;
    
}

h2{
    position: relative;
    text-align: center;
    margin-top: 0;
    
}

.article {
    position: relative;
    background-color: white;
    display: inline-block;
    width: 300px;
    height: 600px;
    margin: 10px;
    text-align: justify;
    border-color: gray;
}

#perfil {
    border-radius: 50%;
    position: relative;
    left: 70px;
    top: -80px;
    z-index: 1;
}
#like{
    position: relative;
    z-index: 1;
    right: 100px;
    top: -300px;
}

#texto{
    
    line-height: 18px;
    padding: 0;
}

footer {
    background-color:#00669F;
    color: white;
    line-height: 58px;
    padding-left: 15px; 
    height: 51px;
}

